.profile-button {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
}

.border-b {
  border-bottom: 1px solid $color-light-grey;
}

.text-blue {
  color: $color-blue;
}

.text-red {
  color: $color-red;
}

.a-profile-button {
  text-transform: none;
  text-decoration: none;
}
