.text-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
  padding: 1rem 0;
}

.text-field-value {
  color: #999999;
}
