<div class="contact_card">
  <div class="contact_avatar"></div>
  <div class="contact_data">
    <div class="contact_name">{{ name }}</div>
    <div class="contact_message">{{ message }}</div>
  </div>
  <div class="contact_date">
    <div class="contact_message_date">{{ date }}</div>
    <div class="contact_message_new">
      <div class="contact_message_new_sum">{{ new_message }}</div>
    </div>
  </div>
</div>
