.contact_card {
  display: grid;
  grid-template-columns: 15% 75% 10%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #EAEAEA;
}

.contact_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #EFEFEF;
}

.contact_data {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 0.5rem;
}

.contact_name {
  font-weight: 500;
  color: #1e1e1e;
}

.contact_message {
  font-size: 0.8rem;
  color: #999999;
  font-weight: 400;
}

.contact_date {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.contact_message_date {
  display: flex;
  font-size: 0.6rem;
  color: #999999;
  font-weight: 400;
  justify-content: right;
}

.contact_message_new {
  display: flex;
  justify-content: right;
}

.contact_message_new_sum {
  display: flex;
  min-width: 20px;
  height: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #3369f3;
  font-size: 0.8rem;
  color: #ffffff;
}
