$color-white: #fff;
$color-almost-white: #fbfbfb;
$color-light-grey: #eaeaea;
$color-light-light-gray: #efefef;
$color-grey: #999;
$color-red: #f00;
$color-blue: #3369f3;
$color-blue-transparent: #3369f375;
$color-almost-black: #1e1e1e;
$color-overlay: #00000080;
$color-shadow: #00000026;
$color-message-from: #f8f8f8;
$color-message-to: #e4edfd;
