$color-white: #FFFFFF;
$color-almost-white: #FBFBFB;
$color-light-grey: #EAEAEA;
$color-light-light-gray: #EFEFEF;
$color-grey: #999999;
$color-red: #FF0000;
$color-blue: #3369f3;
$color-blue-transparent: #3369f375;
$color-almost-black: #1E1E1E;
$color-overlay: #00000080;
$color-shadow: #00000026;

$color-message-from: #F8F8F8;
$color-message-to: #E4EDFD;
